<nav id="site-nav">
  <div class="nav-content">
    <div class="left-col">
      <a href="/" class="masthead">
        <div class="logo">
          {% include svg/bowled-over-logo.svg %}
        </div>
        <h4>{{ site.title }}</h4>
      </a>
    </div>
    <div class="right-col">
      <form id="nav-search-form">
        <input type="text" placeholder="Search recipes" id="nav-search-input">
        <div class="search-icon">

        </div>
        <div id="nav-search-results-list">
        </div>
      </form>
    </div>
  </div>

</nav>
