#home {

  .post-col {

    .post-link {
      position: relative;
      min-height: 200px;
      display: block;
      overflow: hidden;
      color: $black;
      @include box-shadow($prop: none);
      .post-image {
        img {
          top: 50%;
          left: 50%;
          @include transform(translate(-50%,-50%) scale(1));
          position: absolute;
          width: 100%;
          z-index: -1;
          @include transition(transform);
        }
      }
      .post-title {
        background-color: $white;
        z-index: 2;
        position: absolute;
        top: 8em;
        padding: 0.5rem;

        @include transition(top);
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 3px;
          height: 0;
          background-color: $green;
          @include transition(height);
        }
      }
      .post-categories {
        background-color: $white;
        font-weight: 400;
        padding-top: 3rem;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        @include transform(translateY(-100%));
        @include transition(transform);
        backface-visibility: hidden;
        transition-delay: 0.25s;
      }
      &:hover {
        @include box-shadow;
        .post-title {
          top: 0;
          &:before {
            height: 100%;
          }
        }
        .post-image {

        }
        .post-categories {
          @include transform(translateY(0));
          transition-delay: 0;
        }
      }
    }

  }
}
