#post {
  #hero {
    .inner-section {
      max-width: $size-x-large;
    }
    .hero-grid {
      position: relative;

    }
    .title-col {
      padding-top: 300px;
      padding-left: 5rem;
      .post-title {
        padding: 1rem;
        position: relative;


        background-color: $white;
        position: relative;
        h1 {
          margin-top: 0;
        }
      }
      .effort {
        .effort-level {
          height: 1rem;
          width: 1rem;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid $green;
          &.active {
            background-color: $green;
          }
        }
      }
    }
    .image-col {
      position: absolute;
      .post-image {
        max-width: 500px;
        position: relative;
        display: inline-block;
        img {
          max-width: 100%;
        }
      }
    }
  }
  #text {
    padding-top: 0;
    .inner-section {
      border-top: 1px solid grey;
    }
  }
}
